In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('carvan_train.csv')

In [3]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V77,V78,V79,V80,V81,V82,V83,V84,V85,V86
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

In [4]:
df['V86'].value_counts()
y=df['V86']
x=df.drop(['V86'],1)

In [5]:
from sklearn.decomposition import KernelPCA
kpca=KernelPCA(n_components=30,kernel='rbf')

In [6]:
k_x=kpca.fit_transform(x)

In [7]:
from collections import Counter
from imblearn.over_sampling import SMOTE 

sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_sample(k_x, y)

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X_res, y_res,test_size=0.33)

In [9]:
from sklearn.svm import SVC
clf = SVC()
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [10]:
q=clf.predict(X_test)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, q)

0.68281206753390533

In [12]:
X_res.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
from sklearn.tree import DecisionTreeClassifier
Dclf = DecisionTreeClassifier()
Dclf.fit(X_train, y_train)

In [ ]:
q2=Dclf.predict(X_test)
accuracy_score(y_test, q2)

In [ ]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(Dclf, X_train, y_train))

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,q2)

In [ ]:
cm

In [ ]:
from sklearn.metrics import fbeta_score
fbeta_score(y_test, q2, beta=2)

In [ ]:
tdf=pd.read_csv('carvan_test.csv')

In [78]:
tdf.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V76,V77,V78,V79,V80,V81,V82,V83,V84,V85
0,33,1,4,2,8,0,6,0,3,5,...,0,0,0,0,1,0,0,0,0,0
1,6,1,3,2,2,0,5,0,4,5,...,2,0,0,0,1,0,0,0,0,0
2,39,1,3,3,9,1,4,2,3,5,...,1,0,0,0,1,0,0,0,0,0
3,9,1,2,3,3,2,3,2,4,5,...,0,0,0,0,1,0,0,0,0,0
4,31,1,2,4,7,0,2,0,7,9,...,0,0,0,0,1,0,0,0,0,0

In [79]:
tx=kpca.transform(tdf)

In [80]:
rs=Dclf.predict(tx)

In [81]:
rs=pd.DataFrame(rs)

In [82]:
rs

      0
0     0
1     1
2     0
3     0
4     0
5     0
6     1
7     0
8     0
9     1
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
24    1
25    0
26    0
27    0
28    0
29    0
...  ..
3970  0
3971  0
3972  0
3973  0
3974  0
3975  0
3976  0
3977  0
3978  0
3979  0
3980  0
3981  0
3982  1
3983  0
3984  0
3985  0
3986  0
3987  0
3988  0
3989  0
3990  0
3991  0
3992  0
3993  0
3994  0
3995  1
3996  0
3997  0
3998  0
3999  0

[4000 rows x 1 columns]

In [85]:
from sklearn.metrics import fbeta_score
fbeta_score(y_test, q2, beta=2)

0.88838020492696734

In [87]:
rs = rs.rename(columns={0: 'V86'})

In [88]:
rs.to_csv('result2.csv')